.form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 2.25rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;

  min-width: 80%;
}

.form button[type="submit"] {
  height: 2.25rem;
  width: 2.25rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f04c64;
  color: #FFF;

  transition: .2s;
}

.form button[type="submit"]:hover {
  background: #f26f86;
}
