.tasks {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(2.25rem + 80% + 1.5rem);
  transition: .3s;

  border-radius: .4rem;
  padding: .75rem;
}

.tasks li:hover {
  background:rgb(235, 235, 235);
}


.tasks li .edit {
  margin-right: 1rem;
  color: #51c5de;

  cursor: pointer;

  transition: .3s;
}

.tasks li .delete {
  color: #f04c64;

  cursor: pointer;

  transition: .2s;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: black;
}

.tasks li span{
  display: flex;
  align-items: center;
}
